/node_modules
/public/hot
/public/storage
/public/ck
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/public/vendor
public/vendor
/resources/views/vendor/
resources/views/vendor/
dump.rdb
.DS_Stor
.docker
